<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Grant access for gallery to save filtered photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Grant access for gallery to choose photos and apply filters to them.</string>
</dict>
</plist>
